<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MA28 Epoch - Staying safe in Bushes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Image/background.jpg" style="opacity: 0.5" width="1000" height="350" />
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Home", "Home")</li>
                <li>@Html.ActionLink("Map", "Map", "Home")</li>
            </ul>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - FIT5120 MA28 - Epoch</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

